body {
    background-color: #272b34;
}
h1{margin-bottom: 0px !important;}
h2{
    color: #7b7b7b;
    font-size: 11px;
    font-style: italic;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.21);
}
a{text-decoration: none !important;}