body {
    background-color: #272b34;
    font-size: 14px
}

/* Styles for larger screens */
@media (min-width: 768px) {
    /* Add your desktop-specific styling here */
}

/* Styles for smaller screens (mobile) */
@media (max-width: 767px) {
    /* Increase font sizes, padding, etc. for mobile devices */
    body {
        font-size: 16px; /* Adjust as needed */
        padding: 20px;   /* Adjust as needed */
    }
}


h1{
    margin-bottom: 0px !important;
}
h2{
    color: #7b7b7b;
    font-style: italic;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.21);
}
a{text-decoration: none !important;}